.menu {
	position: fixed;
	width: 100%;
	height: 55px;

	background-color: #382933;

	padding: 0px 15%;
	transition: .15s;
}

.menu-mobile {
	padding: 0px 10px;
}

.menu-content {
	width: 100%;
	height: 100%;
}

.menu-logo {
	float:left;
	position: relative;
	font-size: 36px;
	font-weight: 600;
}

.menu-logo-recipe {
	color: #519872;
	float: left;
}

.menu-logo-repo {
	color: #a4b494;
	float: left;
}

.menu-search {
	float: left;
	margin-left: 25px;
}
