.recipe-search-background {
	position: fixed;
	width: calc(100% + 10px);
	height: calc(100vh + 10px);

	left: -5px;
	top: -5px;

	background-image: url("../images/background.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	filter: brightness(60%) blur(1px);
}

.recipe-search-content {
	position: relative;
	width: 100%;
	height: auto;

	padding: 0 15%;
}

.recipe-search-content-mobile {
	padding: 0 15px;
}

.recipe-search-header {
	width: 100%;
	text-align: center;
	margin-bottom: 15px;

	color: white;
	font-size: 45px;
	text-shadow: 4px 3px 0 #555;
	font-weight: bolder;
}

.recipe-search-bar {
	background-color: white;
	height: 50px;
	width: calc(100%);
	border-radius: 25px;

	-webkit-box-shadow: 0px 0px 12px 0px rgba(51,51,51,1);
	-moz-box-shadow: 0px 0px 12px 0px rgba(51,51,51,1);
	box-shadow: 0px 0px 12px 0px rgba(51,51,51,1);

	padding-left: 16px;
	padding-right: 16px;
	padding-top: 10px;

	vertical-align: top;
	transition: .15s;
}

.recipe-search-bar-focused {
	border-radius: 15px;
}

.recipe-search-bar-icon {
	color: #666;
	font-size: 18px;
}

.recipe-search-bar-input {
	font-size: 18px;
	margin-left: 12px;
	width: calc(100% - 50px);
	border: 0px;
	padding: 0px;
	outline: 0px;
	font-weight: 500;
}

.recipe-search-results {
	margin-top: 25px;
	width: 100%;
	height: auto;
	text-align: center;
}
