.recipesearchbar {
	background-color: white;
	height: 35px;
	margin: 15px 0px;
	border-radius: 17.5px;

	-webkit-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, .2);
	-moz-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, .2);
	box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, .2);

	padding-left: 12px;
	padding-right: 12px;
	padding-top: 2.5px;

	transition: .15s;
}

.recipesearchbar-open {
	height: 85px;
	border-radius: 10px;
}

.recipesearchbar-icon {
	color: #777;
	font-size: 18px;
}

.recipesearchbar-input {
	font-size: 18px;
	margin-left: 10px;
	width: calc(100% - 30px);
	border: 0px;
	outline: 0px;
	color: black;
}

.recipesearchbar-input-open {
	border-bottom: 1px solid rgba(0, 0, 0, .1);
}
